@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body{
	font-family: "hammersmith-one" regular;
	font-size: 14px;
	color: #ff6633; 
}


.header{
	background-color: rgba(0,0,0,0.8);
	padding: 20px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	align-items: center;
	position: fixed;
	
}

.menu{
	font-size: 20px;
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;	
}

.searchbar{
	border-bottom: 1px solid #ff6633 !important;
	background-color: rgba(0,0,0,0.0);
	border: none;
	color: #ff6633;
}

a:hover {
	color: #fff !important;
	text-decoration: none;
}

a:link {
	color: #ff6633 !important;
}

#columna1 { 
	background: rgba(0,0,0,0.8);
	vertical-align: top;
	display: inline-block;
	width: 10%;
	height: 100%;	
	Float:left;
	padding: 20px; 
	margin-right: 100px;
	position: fixed;
	margin-top: 80px;
}

#columna1 p{
	margin-left: 10px;
}
.button{
	margin-top: 120px;
	font-size: 18px;
}
.liner{
	border-bottom: 2px solid #ff6633 !important;
	background-color: rgba(0,0,0,0.0);
	border: none;
	color: #ff6633;
	margin-top: -7px;
	margin-bottom: 9px;
	width: 50px;
}

#hero{
	background-color:#F7F7F7;
	padding-top: 160px;
	padding-left: 15%;
}

#hero h5{
	margin-bottom: 70px;
}

.tennis{
	margin-top: 70px;
	margin-bottom: 70px;
}
.tennis h6{
	margin-top: 30px;
	margin-bottom: 30px;
}
.line{
	border-bottom: 2px solid #ff6633 !important;
	background-color: rgba(0,0,0,0.0);
	border: none;
	color: #ff6633;
	margin-top: -25px;
	width: 110px;
}

.footer{
	background-color: rgba(0,0,0,0.8);
	padding: 40px; 
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 210px;
	width: 100%;
	font-size: 20px;
	flex-wrap: wrap;
	align-items: flex-start;
	
}
.icons-wrapper{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.icon{
	width: 40px;
	margin-bottom: 10px;
	
	
}
#sneaker{
	background-color:#F7F7F7;
	padding-top: 160px;
}

.footer{
	background-color: rgba(0,0,0,0.8);
	padding: 40px; 
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 210px;
	width: 100%;
	font-size: 20px;
	flex-wrap: wrap;
	align-items: flex-start;
	
}
.icons-wrapper{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.icon{
	width: 40px;
	margin-bottom: 10px;		
}



.btn{
	background-color: #ff6633;
	border: none;
	border-radius: 0;
	margin-top: 40px;
	font-size: 20px;
	font-family: 'Hammersmith One', sans-serif; 
}
.btn:hover{
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}

.form-control{
	background-color: #F7F7F7;
	border: none;
	color: #ff6633;
	width: 60px;
	font-size: 20px;
}

#sneaker hr{
	background-color: #ff6633;
	border: none;
	width: 150px;
	height: 3px;
	display: inline-block;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 20px;
}

#info h4{
	font-size: 35px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 20px;
		
}

#info h3{
	color: rgba(0,0,0,0.8);
	font-size: 25px;
	margin-bottom: 20px;
}

span{
	margin-bottom: 20px;
}
#info span a{
	color: rgba(0,0,0,0.8);
	font-size: 20px;
	margin-bottom: 20px;
	padding: 5px 10px;
}

#info span a:hover{
	background-color: #ff6633;
	color: #f7f7f7f;
	border-radius: 100%;
}
